$mainColor: rgb(0, 255, 0);
$secondColor: rgb(0,135,0);
$thirdColor: rgb(255, 0, 0);
$textColor: rgb(216, 216, 216);
$mainBgColor: rgb(26, 26, 26);
$secondBgColor: rgb(53, 53, 53);
$thirdBgColor: rgb(6, 48, 0); 
$basicTransition: all 0.1s ease-in-out;